.account{
  .page-wrap__title{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    align-items: center;
    a{
      font-size: 16px;
      font-weight: 400;
      padding: 6px 40px 6px;
      line-height: 25px;
      border: 1px solid transparent;
      background: $primary;
      color: $white;
      border-radius: 25px;
      &:hover{
        color: $primary;
        border-color: $primary;
        background: transparent;
      }
      &:active{
        color: $default;
        border-color: $primary;
        background: transparent;
      }
    }
  }
}
.account-tabs{
  padding-top: 0;
  .tabs-nav{
    justify-content: flex-start;
  }
  .pagination{
    background: transparent;
  }
  .btn-tabs{
    margin: 0 auto 30px 0;
  }
}
.info-user{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 -15px;
  &__item{
    width: 50%;
    padding: 0 15px;
    .modal-group{
      display: flex;
      flex-direction: column;
      &.modal-row{
        display: flex;
        flex-direction: row;
        .label-radio{
          margin-right: 10px;
        }
      }
      .label-radio{
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    .label{
      //max-width: 380px;
    }
  }
}
.btn-tabs{
  margin: 0 0 30px auto;
}
.order-table{
  width: 100%;
  padding: 0 0 20px;
  &__head{
    display: flex;
    background: rgba($primary, .07);
    font-size: 12px;
    color: $default;
    padding: 10px 15px;
    margin-bottom: 30px;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  &__body{
    display: block;
  }
  .hidden{
    font-size: 12px ;
    color: $default;
    margin-bottom: 10px;
    @media screen and (max-width: 768px){
      display: block !important;
    }
  }
  .order-date{
    width: 130px;
    @media screen and (max-width: 768px){
      width: 100%;
      font-size: 14px;
      color: $default !important;
      margin-bottom: 15px;
      span{
        font-size: 14px;
        color: $gray;
        margin-bottom: 0 !important;
      }
    }
  }
  .order-number{
    width: 350px;
    @media screen and (max-width: 768px){
      width: 100%;
      font-size: 14px;
      margin-bottom: 15px;
      span{
        font-size: 14px;
      }
    }
  }
  .order-sum{
    width: 200px;
    @media screen and (max-width: 768px){
      width: 100%;
      font-size: 14px !important;
      margin-bottom: 15px;
      .hidden{
        color: $gray;
        font-size: 14px;
      }
    }
  }
  .order-count{
    width: 200px;
    @media screen and (max-width: 768px){
      color: $default !important;
      width: 100%;
      font-size: 14px;
      margin-bottom: 15px;
      span{
        color: $gray;
        font-size: 14px;
      }
    }
  }
  .order-status{
    width: 100px;
    @media screen and (max-width: 768px){
      width: 100%;
      margin-bottom: 15px;
      color: $default !important;
      font-size: 14px;
      span{
        color: $gray;
        font-size: 14px;
      }
    }
  }
  .order-btn__wrap{
    margin: 0 auto;
    width: 90px;
    display: flex;
  }
  .order-table__head{
    margin-bottom: 0;
    @media screen and (max-width: 768px) {
      display: none !important;
    }
  }
  &__body{
    @media screen and (max-width: 768px){
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .order-table__head{
      padding: 40px 15px;
      background: transparent;
      margin-bottom: 0;
      border-bottom: 1px solid $gray;
      align-items: center;
      @media screen and (max-width: 768px){
        display: block !important;
      }
    }
    .order-date{
      color: $gray;
    }
    .order-number{
      font-size: 14px;
      @media screen and (max-width: 768px){
        span{
          color: $gray;
        }
      }
    }
    .order-count{
      color: $gray;
    }
    .order-sum{
      font-size: 22px;
      span{
        font-size: 16px;
      }
    }
    .order-status{
      color: $gray;
    }
  }
  &__content{
    border-bottom: 1px solid $gray;
    display: none;
  }
  .order-btn, .order-refresh, .order-remove{
    width: 24px;
    height: 24px;
    background: transparent;
    margin: 0 auto;
  }
  .order-btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    .icon{
      width: 10px;
      height: 5px;
      transform: rotate(0);
    }
    &.open{
      .icon{
        transform: rotate(180deg);
      }
    }
  }
  .order-refresh{
    .icon{
      fill: $gray;
    }
    &:hover{
      .icon{
        fill: $default;
      }
    }
  }
  .order-remove{
    .icon{
      fill: $light;
    }
    &:hover{
      .icon{
        fill: $default;
      }
    }
  }
}

.content-item{
  padding: 20px 130px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 992px){
    padding: 20px;
  }
  @media screen and (max-width: 768px){
    flex-direction: column;
  }
  &__product{
    display: flex;
    width: 550px;
    @media screen and (max-width: 768px){
      width: 100%;
    }
    @media screen and (max-width: 480px){
      flex-wrap: wrap;
    }
  }
  &__img{
    width: 64px;
    height: 71px;
    margin-right: 20px;
    border-radius: 7px;
    border: 1px solid $light;
    @media screen and (max-width: 480px){
      margin: 0 auto 10px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
  &__title{
    width: calc(100% - 95px);
    max-width: 395px;
    text-align: left;
    text-transform: uppercase;
    color: $default;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    a{
      color: $default;
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      &:hover{
        color: $primary;
      }
    }
    @media screen and (max-width: 480px){
      width: 100%;
      text-align: center;
    }
  }
  &__size{
    font-size: 12px;
    color: $primary;
    text-transform: none;
  }
  &__price--old{
    font-size: 14px;
    line-height: 18px;
    color: $gray;
    display: block;
  }
  &__price--current{
    font-size: 22px;
    line-height: 28px;
    color: $default;
    font-weight: 500;
  }

}
.tabs-item{
  .product-item{
    width: calc(20% - 30px);
  }
}
.compare-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__media{
    display: flex;
    align-items: flex-start;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__remove{
    margin-left: 10px;
    background: transparent;
    .icon{
      fill: $gray;
    }
    &:hover{
      .icon{
        fill: $default;
      }
    }
  }
  &__description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 15px;
    width: 100%;
    height: 70px;
  }
  &__price-current{
    color: $default;
    font-size: 22px;
    line-height: 28px;
  }
  &__price-old{
    font-weight: 400;
    color: $gray;
    font-size: 14px;
    line-height: 18px;
  }
  .btn-green{
    padding: 5px 26px 5px;
    font-size: 14px;
    line-height: 26px;
  }
}
.compare-items{
  width: 100%;
  overflow-y: auto;
  margin-bottom: 30px;
  table{
    width: 100%;
    border: 0;
    border-spacing: 0;
    tr{}
    th{
      min-width: 245px;
      border-bottom: 1px solid $light;
      border-right: 1px solid $light;
      width: 25%;
      text-align: center;
      &:last-of-type{
        border-right: 0;
      }
    }
    tbody{
      tr{
        &:nth-of-type(2n){
          background: $light-100;
        }
        &:nth-of-type(2n+1){
          background: $white;
        }
      }
    }
    td{
      min-width: 245px;
      width: 25%;
      padding: 5px 15px;
      text-align: center;
      font-size: 14px;
      color: $default;
      height: 40px;
      &:first-of-type{
        color: $gray;
        border-right: 1px solid $light;
        text-align: left;
      }
    }
  }
}
.report-wrap{
  width: 430px;
  margin: 0 auto 20px;
  .page-title{
    text-align: center;
  }
  .label{
    width: 180px;
    position: relative;
    display: inline-block;
    .input{
      padding: 10px 40px 10px 10px;
    }
    &:after{
      position: absolute;
      content: '';
      right: 10px;
      top: 50%;
      margin-top: -8px;
      width: 16px;
      height: 16px;
      background: url("../images/svg/ic-calendar.svg") no-repeat;
    }
  }
  .report-hr{
    display: inline-block;
    width: 20px;
    background: $gray;
    height: 1px;
    margin: 0 15px;
  }
}
.provider-history{
  padding-bottom: 50px;
  .history-tab{
    border: 0;
    border-spacing: 0;
    width: 100%;
    thead{
      tr{
        height: 38px;
      }
      th{
        text-align: left;
        padding: 5px 15px;
        font-weight: 400;
        font-size: 12px;
        height: 38px;
        background: rgba($primary, .07);
        &:nth-of-type(1){
          width: 30%;
        }
        &:nth-of-type(2){
          width: 40%;
        }
        &:nth-of-type(3){
          width: 30%;
        }
      }
    }
    tbody{
      tr{
        &:nth-of-type(2n){
          background: $light-100;
        }
        &:nth-of-type(2n+1){
          background: $white;
        }
      }
      td{
        padding: 5px 15px;
        font-size: 16px;
        line-height: 23px;
        color: $default;
        border-bottom: 1px solid $light;
        &:nth-of-type(1){
          width: 30%;
        }
        &:nth-of-type(2){
          width: 40%;
        }
        &:nth-of-type(3){
          width: 30%;
          color: $gray;
        }
        &:before{
          content: attr(data-label);
          font-family: 'Roboto';
          font-weight: 400;
          color: #999;
          font-size: 14px;
          line-height: 20px;
          display: none;
          margin-bottom: 10px;
        }
      }
    }

  }
}
.provider-info{
  display: flex;
  .provider-item{
    &:nth-of-type(1){
      width: 260px;
    }
    &:nth-of-type(2){
      width: 380px;
    }
    &:nth-of-type(3){}
    &__title{
      font-weight: 500;
      font-size: 14px;
      color: $default;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    &__text{
      font-size: 16px;
      line-height: 23px;
      color: $default;
      li{
        margin-bottom: 10px;
      }
      span{
        color: $gray;
      }
    }
  }
}