.contact-list{
  font-size: 14px;
  line-height: 18px;
  color: $default;
  position: relative;
  .icon{
    fill: $primary;
    position: absolute;
    top: 0;
    left: 0;
  }
  li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 210px;
    padding-left: 30px;
    position: relative;
    a{
      display: block;
    }
    span{
      color: $gray;
      width: 55px;
    }
    .icon{
      fill: $primary;
      position: absolute;
      top: 0;
      left: 0;
    }
    .icon-fill{
      width: 20px;
      height: 20px;
      fill: transparent;
      stroke: $primary;
    }
  }
  a{
    font-size: 14px;
    line-height: 18px;
    color: $default;
    margin-bottom: 5px;
    span{
      color: $gray;
    }
  }
}

.contact-wrap{
  flex-wrap: wrap;
  width: calc(100% - 480px);
  padding-right: 30px;
  display: inline-flex;
  vertical-align: top;
}
.contact-wrap__item{
  width: 50%;
  text-align: left;

  &:last-of-type{
    width: 100%;
    text-align: left;
    .modal-group{
      display: flex;
      flex-wrap: wrap;
      .label-radio{
        width: calc(50% - 20px);
        margin-bottom: 10px;
      }
    }
  }
}
.contact-wrap__form{
  width: 450px;
  display: inline-block;
  vertical-align: top;
  .page-title{
    text-align: center;
  }
  .btn-green{
    margin: 20px auto 10px;
  }
}
.contact-form__container{
  background: $white;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.13);
  border-radius: 6px;
  padding: 30px;
}
.map{
  padding-top: 100px;
  height: 361px;
  width: 100%;
  overflow: hidden;
}