@media screen and (max-width: 1230px){
  .header-search{
    max-width: 400px;
    form{
      max-width: 400px;
    }
    .search-btn{
      min-width: 40px;
      margin-left: 10px;
    }
  }
  .top-filter__item-list{
    li {
      width: 20%;
      padding: 0;
      border-top: 1px solid #E7E7E7;
      border-right: 1px solid #E7E7E7;
      &:nth-child(12n+12){
        border-right: 1px solid #E7E7E7;
      }
      &:nth-child(5n+5){
        border-right-color: transparent;
      }
      &:nth-child(-n+12){
        border-top: 1px solid #E7E7E7;
      }
      &:nth-child(-n+5){
        border-top-color: transparent;
      }
      a{
        padding: 10px;
        font-size: 14px;
      }
    }
  }
  .category-item{
    width: calc(33.3333% - 30px);

    a{
      padding: 10px 50px 10px 10px;
    }
  }
}

@media screen and (max-width: 1200px){
  .top-filter__title{
    width: 50%;
  }
  .header{
    &-phone{
      margin: 0 auto;
    }
    &-time{
      margin-right: auto;
      max-width: 160px;
    }
    &-user{
      .header-user__item{
        margin: 0 5px;
      }
    }
  }
}

@media screen and (max-width: 992px){
  .menu-cat-dropdown{
    &.active{
      top: 90px;
      right: auto;
      left: 0;
    }
  }
  .header{
    &.scroll-nav {
      .menu-cat-dropdown{
        &.active{
          top: 90px;
        }
      }
      .header-mobile.open{
        top: 71px;
        position: fixed;
      }
    }
  }
  .header{
    &-mobile{
      .header-nav{
        ul{
          flex-direction: column;
        }
      }
      .header-phone{
        display: block;
        overflow: hidden;
        padding-bottom: 5px;
        margin-bottom: 10px;
        .dropdown-list{
          &.open{
            position: relative;
            box-shadow: none;
          }
        }
      }
      .header-time{
        display: block;
      }
    }
  }
  .category-item {
    width: calc(50% - 30px);
  }
  .footer{
    &-wrap{
      flex-wrap: wrap;
    }
    &-nav{
      border-top: 1px solid rgba($white, .3);
      padding-top: 20px;
      max-width: 50%;
    }
    &-contact{
      border-top: 1px solid rgba($white, .3);
      padding-top: 20px;
      width: 50%;
    }
    &-bottom{
      flex-direction: column;
      border-bottom: 1px solid rgba($white, .3);
      position: relative;
      padding-top: 30px;
      padding-bottom: 80px;
    }
    &-button{
      margin-bottom: 20px;
    }
    &-social{
      margin-bottom: 20px;
    }
    &-copy{
      position: absolute;
      bottom: 20px;
    }
  }
  .model-wrap{
    flex-wrap: wrap;
  }
  .model-item{
    width: 50%;
    a{
      width: 100%;
      margin-bottom: 30px;
    }
  }
  .header{
    &-top{
      display: none;
    }
    &-center{
      .container{
        justify-content: space-between;
      }
    }
    &-phone,
    &-time{
      display: none;
    }
    &-bottom{
      .header-logo{
        display: block;
        margin-right: 14px;
      }
    }
    &-search {
      max-width: 290px;
    }
    &-buttons {
      margin: 0 auto 0 0;
      .btn-primary{
        display: none;
        &:first-of-type{
          display: block;
        }
        &.btn-catalog{
          display: block;
        }
      }
    }
    &-btn{
      margin-right: 15px;
      width: 40px;
      height: 40px;
      background: $primary;
      border-radius: 4px;
      position: relative;
      padding: 9px;
      display: flex;
      flex-direction: column;
      span{
        width: 22px;
        height: 2px;
        background: #fff;
        margin-bottom: 8px;
        transition: all ease 300ms;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
      &.active{
        span{
          position: absolute;
          top: 18px;
          width: 80%;
          left: 5px;
          &:nth-of-type(1){
            transform: rotate(45deg);
          }
          &:nth-of-type(3){
            transform: rotate(-45deg);
          }
          &:nth-of-type(2){
            opacity: 0;
            width: 0;
          }
        }
      }
    }
  }
  .top-banner{
    &__wrapper{
      .swiper-slide{
        padding: 25px 50px 25px 15px;
      }
    }
    &__title {
      font-size: 30px;
      line-height: 40px;
    }
    &__media {
      width: 100%;
      max-width: 250px;
    }
  }
  .top-filter{
    &__info{
      flex-direction: column-reverse;
    }
    &__title{
      width: 100%;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 16px;
      span{
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
  .page-content{
    padding-top: 0;
  }
}

@media screen and (max-width: 768px){
  .header{
    .dropdown-menu{
      width: 230px;
      z-index: 8;
    }
    &-info__account{
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 0;
      &:after{
        display: none;
      }
      span, b{
        display: none;
      }
      img{
        position: relative;
        left: 0;
        top: 0;
      }
    }

  }
  .header-buttons .btn-primary{
    &.btn-wrench{
      font-size: 0;
      position: relative;
      width: 30px;
      padding: 10px 18px;
      &:before{
        position: absolute;
        content: "";
        left: 7px;
        top: 7px;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23FFF' version='1.1' id='Capa_1' width='800px' height='800px' viewBox='0 0 479.79 479.79' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M478.409,116.617c-0.368-4.271-3.181-7.94-7.2-9.403c-4.029-1.472-8.539-0.47-11.57,2.556l-62.015,62.011l-68.749-21.768 l-21.768-68.748l62.016-62.016c3.035-3.032,4.025-7.543,2.563-11.565c-1.477-4.03-5.137-6.837-9.417-7.207 c-37.663-3.245-74.566,10.202-101.247,36.887c-36.542,36.545-46.219,89.911-29.083,135.399c-1.873,1.578-3.721,3.25-5.544,5.053 L19.386,373.152c-0.073,0.071-0.145,0.149-0.224,0.219c-24.345,24.346-24.345,63.959,0,88.309 c24.349,24.344,63.672,24.048,88.013-0.298c0.105-0.098,0.201-0.196,0.297-0.305l193.632-208.621 c1.765-1.773,3.404-3.628,4.949-5.532c45.5,17.167,98.9,7.513,135.474-29.056C468.202,191.181,481.658,154.275,478.409,116.617z M75.98,435.38c-8.971,8.969-23.5,8.963-32.47,0c-8.967-8.961-8.967-23.502,0-32.466c8.97-8.963,23.499-8.963,32.47,0 C84.947,411.878,84.947,426.419,75.98,435.38z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: cover;
      }
    }
  }
  .header-user .header-user__item{
    width: 38px;
    height: 38px;
  }
  .header-user .header-user__counter{
    top: -10px;
    right: -10px;
  }
  .header-search {
    .search-label{
      position: relative;
      z-index: 2;
    }
    .search-btn{
      margin-left: 10px;
      position: absolute;
      right: 0;
      z-index: 8;
      top: 0;
      height: 39px;
    }
  }
  .top-filter__item-list{
    li {
      width: 33.3333%;
      &:nth-child(5n+5){
        border-right: 1px solid #E7E7E7;
      }
      &:nth-child(-n+5){
        border-top: 1px solid #E7E7E7;
      }
      &:nth-child(3n+3){
        border-right-color: transparent;
      }
      &:nth-child(-n+3){
        border-top-color: transparent;
      }
    }
  }
  .top-banner{
    &__wrapper{
      .swiper-slide{
        padding: 25px 50px 25px 15px;
        position: relative;
        align-items: flex-start;
      }
    }
    &__desc {
      max-width: 50%;
      padding-left: 0;
      margin-top: 0;
      position: relative;
      &:before{
        display: none;
      }
    }
    &__title {
      font-size: 30px;
      line-height: 40px;
    }
    &__media {
      position: absolute;
      right: 0;
      bottom: 35px;
    }
  }
  .footer{
    &-logo{
      width: 100%;
      max-width: 100%;
      padding-bottom: 30px;
      img{
        max-width: 240px;
      }
    }
    &-category{
      max-width: 100%;
      padding-top: 20px;
      border-top: 1px solid rgba($white, .3);
      ul{
        li{
          width: 50%;
          margin: 0 0 10px;
          padding-right: 10px;
        }
      }
    }
  }
  .table-inner{
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
    table{
      width: 700px;
    }
  }
  .home-slider{
    padding: 50px 0 50px;
  }
  .category-wrapper{
    padding: 50px 0 50px;
  }
  .top-filter__nav{
    flex-wrap: wrap;
  }
  .top-filter__item-title{
    padding: 17px 20px;
    width: 100%;
    max-width: 100%;
    &:before{
      display: none;
    }
  }
}
@media screen and (max-width: 576px){

  .top-banner{
    &__desc {
      max-width: 100%;
      width: 100%;
    }
    &__title {
      width: 100%;
    }
    &__date {
      width: 50%;
    }
    &__media {
      max-height: 260px;
      img{
        max-height: 260px;
      }
    }
  }
  .category-item {
    width: calc(100% - 30px);
  }
  .model-item{
    width: 100%;
    &__count{
      margin-bottom: 20px;
    }
  }
  .header-logo{
    max-width: 140px;
    img{
      width: 100%;
    }
  }
}
@media screen and (max-width: 480px){
  .header-btn{
    margin-right: 10px;
    min-width: 34px;
    height: 34px;
    padding: 5px;
    &.active {
      span {
        position: absolute;
        top: 16px;
        width: 80%;
        left: 3px;
      }
    }
  }
  .header-search .search-label:before{
    display: none;
  }
  .header-search .search-input{
    padding: 10px 40px 10px 10px;
  }
  .header-buttons .btn-primary{
    margin-right: 10px;
  }
  .header-buttons .btn-primary.btn-catalog{padding: 10px 10px 10px 30px;position: relative;}
  .header-buttons .btn-primary.btn-catalog:before{left: 10px;}

  .footer{
    &-wrap{
      flex-wrap: wrap;
    }
    &-nav{
      max-width: 100%;
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          width: 50%;
          margin: 0 0 10px;
          padding-right: 10px;
        }
      }
    }
    &-contact{
      width: 100%;
    }
    &-bottom {
      .footer-button{
        .btn-secondary{
          margin-right: 0;
        }
      }
    }
    &-button{
      display: flex;
      flex-direction: column;
      a{
        width: auto;

        margin-bottom: 20px;
      }
    }
  }
}
//@media screen and (max-width: 1920px){
//  .product-wrap{
//    .product-item{
//      width: calc(25% - 30px);
//    }
//  }
//  .news-wrap {
//    .news-item{
//      width: calc(25% - 30px);
//    }
//  }
//  .tabs-item{
//    .product-item{
//      width: calc(25% - 30px);
//    }
//  }
//}
//@media screen and (max-width: 1600px){
//  .product-wrap{
//    .product-item{
//      width: calc(25% - 20px);
//      margin: 0 10px 30px;
//    }
//  }
//  .tabs-item{
//    .product-item{
//      width: calc(33.333% - 30px);
//    }
//  }
//  .news-wrap {
//    .news-item{
//      width: calc(33.333% - 30px);
//    }
//  }
//}
//@media screen and (max-width: 1400px){
//  .catalog-item__wrap{
//    min-width: calc(100vw - 297px);
//  }
//  .product-wrap{
//    justify-content: space-between;
//    .product-item{
//      width: calc(33.3333% - 30px);
//      margin: 0 15px 30px;
//      max-width: 280px;
//    }
//  }
//  .tabs-item{
//    .product-item{
//      width: calc(33.333% - 30px);
//    }
//  }
//  .news-wrap {
//    .news-item{
//      width: calc(33.333% - 30px);
//    }
//  }
//}
//@media screen and (max-width: 1350px) {
//  .header-top__search{
//    margin-left: 20px;
//  }
//  .header-top .search-form .label{
//    width: 250px;
//  }
//}
//@media screen and (max-width: 1250px) {
//  .header-top__info{
//    width: 200px;
//  }
//  .header-top__phone{
//    width: 100%;
//  }
//  .header-top__time{
//    display: none;
//  }
//
//}
//@media screen and (max-width: 1200px) {
//  .all-characteristics{
//    width: 100%;
//  }
//  .provider-info{
//    flex-wrap: wrap;
//    .provider-item{
//      margin-bottom: 30px;
//      &:nth-of-type(1){
//        width: 50%;
//      }
//      &:nth-of-type(2){
//        width: 50%;
//      }
//      &:nth-of-type(3){
//        width: 100%;
//      }
//    }
//  }
//  .about-wrap{
//    flex-wrap: wrap;
//  }
//  .contact-wrap{
//     width: calc(100% - 360px);
//   }
//  .about-tabs{
//    .about-item{
//      width: calc(33.333333% - 30px);
//    }
//  }
//  .contact-wrap__form{
//     width: 350px;
//   }
//  .header-top{
//    .search-form{
//      .label{
//        width: 250px;
//      }
//    }
//    &__phone{
//
//    }
//    &__phone-title{
//      display: block;
//    }
//    &__logo{
//      margin-left: 0;
//    }
//  }
//  .header{
//    .container{
//      max-width: 100%;
//    }
//  }
//  .header-bottom{
//    &__nav{
//      margin: 0 auto 0 15px;
//      li{
//
//      }
//    }
//  }
//  .header-user{
//    .header-user__item{
//      margin: 0 10px;
//    }
//  }
//  .header-catalog__list{
//    .sub-list{
//      width: calc(100vw - 290px);
//    }
//  }
//  .footer-wrap{
//    .container{
//      justify-content: flex-start;
//      flex-wrap: wrap;
//    }
//  }
//  .seo-wrapper{
//    .seo-text-hide{
//      height: 225px;
//    }
//  }
//  .product-wrap{
//    .product-item{
//      width: calc(50% - 30px);
//    }
//  }
//  .swiper-wrap{
//    width: 350px;
//  }
//  .gallery-top{
//    .product-slider_link{
//      height: 350px;
//    }
//  }
//  .product-row{
//    width: calc(100% - 350px);
//  }
//  .order-wrap{
//    .order-table__wrap{
//      flex-wrap: wrap;
//      .order-table__list{
//        width: 100%;
//        margin-bottom: 20px;
//      }
//      .order-table__info{
//        padding-left: 0;
//        width: 100%;
//        position: static;
//      }
//    }
//  }
//  .order-info__wrap{
//    .order-info__user{
//      padding-right: 30px;
//    }
//  }
//  .tabs-item{
//    .product-item{
//      width: calc(33.33333% - 30px);
//    }
//  }
//  .search-page__wrap{
//    .product-wrap{
//      .product-item{
//        width: calc(33.33333% - 30px);
//      }
//    }
//  }
//  .product-item{
//    margin: 0 auto 30px;
//    max-width: 280px;
//    &__top{
//      height: 260px;
//    }
//    &__media{
//      width: auto;
//      max-height: 255px;
//      height: 255px;
//      display: flex;
//      flex-direction: column;
//      img{
//        max-height: 255px;
//        height: 255px;
//      }
//    }
//  }
//  .product-wrap{
//    justify-content: center;
//  }
//  .footer-social{
//    width: 20%;
//  }
//  .footer-info{
//    width: 20%;
//  }
//  .swiper-wrap {
//    .gallery-thumbs{
//      height: 80px;
//    }
//  }
//}
//@media screen and (max-width: 1120px) {
//  .header-catalog{
//    padding: 17px  28px 19px;
//    width: auto;
//    min-width: auto;
//    .header-catalog__title{
//      display: none;
//    }
//    .header-catalog__list{
//      min-width: 250px;
//    }
//  }
//  .header-user .header-user__item:last-of-type button {
//    padding: 16px 15px 15px;
//  }
//  .header-user {
//    button{
//      padding: 14px 0px 13px;
//    }
//  }
//}
//@media screen and (max-width: 1030px) {
//  .product-row {
//    .product-info{
//      min-width: 100%;
//    }
//  }
//}
//@media screen and (max-width: 992px) {
//  .header{
//    height: auto;
//  }
//  .page-content{
//    padding-top: 0;
//  }
//  .top-banner__wrapper{
//    margin: -50px auto 0 !important;
//  }
//  .header-top {
//    height: auto;
//  }
//  .header-top__logo{
//    &:after{
//      left: -685%;
//    }
//  }
//  .header-top__info{
//    display: none;
//  }
//  .news-wrap{
//    .news-item{
//      border: 0;
//    }
//  }
//  .footer-social{
//    width: 50%;
//  }
//  .footer-info{
//    width: 50%;
//  }
//  .product-slider{
//    .swiper-button{
//      display: none;
//    }
//  }
//  .header-mobile__login{
//    .header-user__login--wrap{
//      display: flex;
//      justify-content: space-between;
//      width: 100%;
//      align-items: center;
//      padding-right: 5px;
//    }
//  }
//  .header-top__logo{
//    &:before{
//      right: -40px;
//      top: -26px;
//      border-width: 89px 53px 55px 0;
//    }
//  }
//  .scroll-nav{
//    .header-bottom{
//      .header-user__item{
//        .btn-nav{
//          display: block;
//        }
//      }
//    }
//  }
//  .header-overlay{
//    top: 0;
//    z-index: 999;
//  }
//  .dropdown, .header-top__phone{
//    z-index: 1;
//  }
//  .header-bottom{
//    z-index: 1;
//  }
//  .account .page-wrap__title{
//    margin-bottom: 20px;
//    a{
//      margin: 15px 0;
//    }
//  }
//
//  .account-tabs{
//    .btn-tabs{
//      margin: 30px 0 30px auto;
//    }
//  }
//  .header-user__login--enter{
//    max-width: 200px;
//    padding: 0 0 0 10px;
//    text-align: left;
//  }
//  .filter-wrap{
//    padding-top: 20px;
//    z-index: 9999;
//    position: relative;
//  }
//  .header-top__logo{
//    width: 150px;
//    height: 100px;
//    img {
//      width: 100%;
//    }
//  }
//  .header-bottom__lang{
//    display: none;
//  }
//  .popup-compare, .popup-wish, .popup-basket{
//    right: 15px;
//  }
//  .header-mobile{
//    .header-catalog__list{
//      width: 100%;
//      position: relative;
//      z-index: 2;
//      opacity: 1;
//      visibility: visible;
//      top: 0;
//      min-height: auto;
//      padding: 0 0 10px;
//      box-shadow: none;
//      border-bottom: 1px solid #ccc;
//      margin-bottom: 10px;
//      ul{
//        padding-right: 0;
//      }
//      li{
//        position: relative;
//        padding: 10px;
//
//      }
//      .has-sub {
//        background: transparent;
//        .sub-nav__btn{
//          position: absolute;
//          top: 5px;
//          width: 35px;
//          height: 35px;
//          right: 0;
//          margin-right: 0;
//          align-items: center;
//          justify-content: center;
//          display: flex;
//          cursor: pointer;
//          .icon{
//            width: 14px;
//            height: 8px;
//            transform: rotate(180deg);
//          }
//          &.active{
//            transform: rotate(0deg);
//            .icon{
//              transform: rotate(0deg);
//            }
//          }
//        }
//        .has-sub__list{
//          opacity: 1 !important;
//          z-index: 1;
//          .sub-nav__btn{
//            top: -1px;
//          }
//          li{
//            padding: 5px;
//            background: transparent;
//          }
//          &.active{
//            display: block;
//            box-shadow: none;
//            padding-left: 5px;
//          }
//        }
//      }
//    }
//  }
//  .header-bottom{
//    .header-catalog{
//      display: none;
//    }
//  }
//  .has-sub{
//    flex-wrap: wrap;
//    .has-sub__list{
//      position: static;
//      left: 0;
//      display: none;
//      margin-top: 10px;
//    }
//  }
//  .provider-info{
//    flex-direction: column;
//    .provider-item{
//      &:nth-of-type(1){
//        width: 100%;
//      }
//      &:nth-of-type(2){
//        width: 100%;
//      }
//    }
//  }
//  .not-found{
//    flex-wrap: wrap;
//    &__media{
//      margin-bottom: 30px;
//      img{
//        width: 50vw;
//        object-fit: contain;
//      }
//    }
//    &__description{
//      text-align: center;
//    }
//  }
//  .about-tabs{
//    flex-wrap: wrap;
//    .tabs-nav__inner{
//      width: 100%;
//    }
//    .tabs-container{
//      width: 100%;
//      padding-left: 0;
//      border-left: 0;
//
//    }
//    .tabs-nav{
//      position: static;
//      top: 0;
//      border-bottom: 1px solid $light;
//
//    }
//    .about-item{
//      width: calc(50% - 30px);
//    }
//  }
//  .contact-wrap{
//    width: 100%;
//    padding-right: 0;
//    margin-bottom: 20px;
//  }
//  .contact-wrap__form{
//    width: 100%;
//  }
//  .popup-basket {
//    .popup-centered {
//      width: calc(100% - 30px);
//    }
//  }
//  .tabs-item{
//    .product-item{
//      width: calc(50% - 30px);
//      margin: 0 auto 30px;
//    }
//  }
//  .search-page__wrap{
//    .product-wrap {
//      .product-item{
//        width: calc(50% - 30px);
//      }
//    }
//  }
//  .search-page__wrap{
//    .product-wrap{
//      .product-item{
//        width: calc(50% - 30px);
//      }
//    }
//  }
//  .order-table{
//    display: flex;
//    flex-direction: column;
//    width: 100%;
//    .order-table__head{
//      display: none;
//    }
//
//    tr{
//      display: flex;
//      flex-direction: column;
//      width: 100%;
//      border-bottom: 1px solid $light;
//      position: relative;
//      &:last-of-type{
//        border-bottom: 0;
//      }
//    }
//    .header-user__basket-count, .product-quantity{
//      width: 100px;
//      position: relative;
//      margin: 0 auto;
//    }
//    td{
//      width: 100% !important;
//      border: 0 !important;
//      &:before{
//        display: block;
//      }
//    }
//    .order-photo{
//      padding-left: 0;
//    }
//    .order-name{
//      text-align: center;
//    }
//    .order-sum{
//      position: static;
//      padding-right: 0 !important;
//    }
//    .item-del{
//      top: 20px;
//    }
//  }
//  .tabs-item{
//    .order-table{
//      .order-table__head{
//        display: flex;
//      }
//    }
//  }
//  .order-wrap{
//    .order-table__wrap{
//      .order-table__head{
//        display: none;
//      }
//    }
//  }
//  .order-info__wrap{
//   flex-wrap: wrap;
//    .order-info__user{
//      padding-right: 0;
//    }
//  }
//  .product-top{
//    flex-wrap: wrap;
//  }
//  .swiper-wrap{
//    width: 100%;
//    margin-bottom: 20px;
//  }
//  .product-row{
//    width: 100%;
//    padding-left: 0;
//  }
//
//  .product-row .product-info{
//    width: 100%;
//    min-width: 100%;
//  }
//  .product-testimonials{
//    flex-wrap: wrap;
//    .review-list{
//      width: 100%;
//    }
//    .review-form{
//      width: 100%;
//      padding-left: 0;
//    }
//  }
//  .header-catalog{
//    padding: 25px 20px;
//    .icon{
//      left: 10px;
//    }
//  }
//  .header-catalog__list{
//    width: 240px;
//    .sub-list{
//      overflow: auto;
//      //width: calc(100vw - 290px);
//      li{
//        width: 50%;
//      }
//    }
//  }
//  .header-top__login{
//    display: none;
//  }
//  .header-top__lang{
//    display: none;
//  }
//  .header-bottom__nav{
//    display: none;
//  }
//  .header-top__phone{
//    display: none;
//  }
//  .header-top__search{
//    margin: 0 auto;
//  }
//  .header-user{
//    margin: 0 auto;
//  }
//  .btn-nav{
//    display: block;
//    z-index: 100;
//  }
//  .footer-wrap__item{
//    width: calc(50% - 30px);
//    margin: 0 15px 25px;
//  }
//  .footer-social{
//    margin: 0 15px 25px 0;
//  }
//  .footer-nav{
//    width: 100%;
//  }
//  .seo-wrapper{
//    .seo-text-hide{
//      height: 268px;
//    }
//  }
//  .filter-mobile{
//    display: block;
//  }
//  .filter{
//    &-categories{
//      width: 100%;
//      position: absolute;
//      left:-150%;
//      opacity: 0;
//      z-index: -1;
//    }
//    &-container{
//      width: 100%;
//    }
//  }
//  .filter-categories{
//    display: none;
//  }
//  .product-item{
//    border: 1px solid transparent;
//    border-radius: 2px;
//    &__characteristic{
//      opacity: 1;
//      visibility: visible;
//      z-index: 1;
//      display: block;
//      position: relative;
//      border: 0;
//      padding: 0 0 15px;
//    }
//  }
//  .news-wrap{
//    .news-item{
//      width: calc(50% - 30px);
//    }
//  }
//  .info-user{
//    margin: 0;
//  }
//  .info-user__item{
//    width: 100%;
//    padding: 0;
//    .label{
//      max-width: 100%;
//    }
//  }
//}
//@media screen and (max-width: 768px) {
//  .top-banner__wrapper .main-button-next, .top-banner__wrapper .main-button-prev{
//    display: none;
//  }
//  .tabs .tabs-nav{
//    justify-content: flex-start;
//    align-items: flex-start;
//    margin: 0 auto 15px;
//  }
//  .wysiwyg h1{
//    font-size: 24px;
//    line-height: 28px;
//  }
//  .page-success{
//    width: 100%;
//  }
//  .contact-wrap__item{
//    width: 100%;
//  }
//  .product-row{
//    .product-button__cart{
//      margin-bottom: 30px;
//    }
//    .product-info__price{
//      margin: 0 auto 20px;
//      width: 100%;
//    }
//    .product-button__cart-add{
//      min-width: 200px;
//      width: 200px;
//      text-align: center;
//      margin: 0;
//    }
//    .product-act__buy--oneclick{
//      width: 200px;
//      min-width: 200px;
//      .quick-checkout{
//        min-width: 200px;
//        padding: 10px 20px 11px;
//      }
//    }
//    .product-title{
//      font-size: 18px;
//      line-height: 24px;
//    }
//  }
//  .product-testimonials{
//    .review-item__date{
//      font-size: 14px;
//      margin-bottom: 10px;
//      line-height: 18px;
//    }
//    .review-item__name{
//      font-size: 16px;
//      margin-bottom: 10px;
//      line-height: 23px;
//    }
//    .review-item__text{
//      font-size: 14px;
//      margin-bottom: 10px;
//      line-height: 18px;
//    }
//    .review-item__date{}
//  }
//  .footer-wrap{
//    margin: 0;
//    .footer-social, .footer-payment, .footer-wrap__item{
//      width: calc(50% - 30px);
//    }
//  }
//  .footer-nav{
//    width: 100% !important;
//    ul{
//      column-count: 2;
//    }
//  }
//  .footer-info{
//    ul{
//      &:first-of-type{
//        column-count: 1;
//      }
//    }
//  }
//  .header-catalog__list{
//    .sub-list{
//      li{
//        width: 100%;
//      }
//    }
//  }
//  .swiper-container{
//    padding: 65px 0 20px;
//  }
//  .new-slider{
//    margin: 0 0 0;
//  }
//  .popular-slider{
//    margin: 0 0 0;
//  }
//  .reviews-slider{
//    margin: 0 0 0;
//    .swiper-container{
//      padding: 65px 0 20px;
//    }
//  }
//
//  .top-banner__wrapper{
//    .swiper-slide{
//      .container{
//        padding: 20px 15px;
//      }
//    }
//  }
//  .product-slider .gallery-thumbs{
//      padding: 0;
//      width: 100%;
//  }
//
//}
//@media screen and (max-width: 650px) {
//  .cookies-popup{
//    .cookies-wrap{
//      flex-direction: column;
//    }
//    .cookies-wrap__text{
//      margin-bottom: 30px;
//      width: 100%;
//    }
//    .modal-group{
//      margin-left: 0;
//    }
//  }
//  .account-tabs{
//    //.tabs-nav{
//    //  flex-direction: column;
//    //}
//  }
//
//  .provider-history{
//    .history-tab{
//      thead{
//        display: none;
//      }
//      tbody{
//        td{
//          display: block;
//          width: 100% !important;
//          border-bottom: 0;
//          &:last-of-type{
//            border-bottom: 1px solid $light;
//          }
//          &:before{
//            display: block;
//          }
//        }
//      }
//    }
//  }
//}
//@media screen and (max-width: 590px) {
//  .seo-wrapper{
//    .seo-text-hide{
//      height: 268px;
//    }
//  }
//}
//@media screen and (max-width: 576px) {
//  .product-wrap {
//    .product-item{
//      width: calc(80% - 30px);
//    }
//  }
//  .gallery-top{
//    .product-slider_link{
//      height: 300px;
//    }
//  }
//  .product-button__cart-one{
//    margin: 0 auto;
//  }
//  .header-top__search{
//    display: none;
//  }
//  .header-top__search-btn, .header-top__phone{
//    display: block;
//  }
//  .header-top__phone{
//    margin: 0 10px 0 auto;
//  }
//  .header-top__search-btn{
//    margin: 0 30px 0 10px;
//  }
//  .report-wrap{
//    width: 100%;
//    .label{
//      width: 100%;
//      margin-bottom: 0;
//    }
//    .report-hr{
//      margin: 20px auto;
//      display: block;
//    }
//    .btn-green{
//      margin: 20px auto;
//    }
//  }
//  .header-top__logo:before{
//    display: none;
//  }
//  .about-tabs{
//    .about-wrap{
//      margin: 0;
//    }
//    .about-item{
//      width: 100%;
//      margin: 0 0 30px;
//    }
//  }
//  .contact-wrap__item:last-of-type .modal-group .label-radio{
//    width: 100%;
//    margin-right: 0;
//  }
//  .contact-form__container{
//    padding: 15px;
//  }
//  .news-wrap{
//    margin: 0;
//    .news-item{
//      width: 100%;
//      margin: 0 0 30px;
//    }
//  }
//  .tabs-item{
//    .product-item{
//      width: calc(100% - 30px);
//    }
//  }
//  .search-page__wrap{
//    .product-wrap {
//      .product-item{
//        width: calc(100% - 30px);
//      }
//    }
//  }
//  .wysiwyg{
//    img{
//      float: none !important;
//      margin: 0 auto 25px !important;
//      display: block;
//    }
//  }
//  .order-btn, .order-action{
//    flex-direction: column;
//    .btn-green, .btn-green-line{
//      width: 100%;
//      margin-bottom: 15px;
//      text-align: center;
//    }
//    .link-line{
//      margin-bottom: 15px;
//    }
//  }
//  .header-catalog__list{
//    width: calc(100vw - 30px);
//    .sub-nav__btn{
//      &.active{
//        transform: rotate(0deg);
//        top: -8px;
//      }
//    }
//    .sub-nav{
//      flex-wrap: wrap;
//      a{
//        width: calc(100% - 40px);
//      }
//    }
//    .has-sub{
//
//    }
//    .sub-list{
//      max-height: 150px;
//      overflow: auto;
//      margin: 10px 0;
//      display: none;
//      position: relative;
//      left: 0;
//      width: 100%;
//      &.active{
//        display: block;
//      }
//      li{
//        padding: 0 25px 5px;
//      }
//    }
//  }
//  .seo-wrapper{
//    .title-section{
//      font-size: 24px;
//      line-height: 34px;
//    }
//  }
//  .footer-wrap__item{
//    width: calc(50% - 30px);
//  }
//  .footer-nav{
//    width: 100%;
//    ul{
//      column-count: 2;
//    }
//  }
//
//  .header-top{
//    padding: 10px 0;
//    z-index: 3;
//  }
//  .header-top__logo{
//    width: 70px;
//    height: 50px;
//    img{
//      width: 100%;
//    }
//    &:after{
//      width: 100vw;
//      height: calc(100% + 20px);
//      left: -15px;
//      top: -10px;
//      z-index: -2;
//    }
//  }
//  .btn-nav{
//    top: 24px;
//  }
//  .header-catalog{
//    font-size: 0;
//    padding: 25px;
//    .icon{
//      left: 17px;
//    }
//  }
//  .popup-basket, .popup-wish, .popup-compare {
//    right: 0 !important;
//    width: 100% ;
//  }
//  .popup-basket{
//    .order-action {
//      .link-line{
//        margin: 0 auto 20px;
//      }
//    }
//  }
//
//  .brands-wrap{
//    .swiper-container{
//      padding: 20px 20px;
//    }
//    .swiper-slide{
//      a{
//        width: 100%;
//      }
//      img{
//        object-fit: contain;
//        margin: 0 auto;
//      }
//    }
//  }
//}
//@media screen and (max-width: 480px) {
//
//
//  .header-top__logo{
//    width: 55px;
//    height: 50px;
//  }
//  .header-top__phone{
//    margin: 0 auto;
//    width: 132px;
//    ul{
//      width: 140px;
//    }
//    a{
//      font-size: 14px;
//      span{
//        margin-right: 0;
//      }
//    }
//  }
//  .header-top__phone-title{
//    font-size: 14px;
//    span{
//      margin-right: 0;
//    }
//  }
//  .header-top__search-btn{
//    margin: 0 30px 0 0;
//  }
//  .call-me{
//    &:hover{
//      span{
//        display: none;
//      }
//      .icon{
//        margin-right: 0;
//      }
//    }
//  }
//  .home-slider{
//    .title-section {
//      h2{
//        margin-right: 0;
//      }
//      a{
//        font-size: 14px;
//      }
//    }
//  }
//  .popup{
//    .popup-centered{
//      width: 100%;
//      border-radius: 0;
//      overflow: auto;
//      height: 100vh;
//      padding: 35px 10px;
//    }
//  }
//  .product-wrap{
//    .product-item{
//      margin: 0 0 30px;
//      width: 100%;
//    }
//  }
//  .search-page__wrap{
//    .product-wrap {
//      .product-item{
//        margin: 0 0 30px;
//        width:100%;
//      }
//    }
//  }
//  .tabs-item{
//    .product-item{
//      width: 100%;
//    }
//  }
//  .header-top__search-btn{
//    display: block;
//  }
//  .header-top__search{
//    margin: 0 35px 0 auto;
//    width: 36px;
//    height: 36px
//  }
//  .header-top {
//    .search-form {
//      position: absolute;
//      left: 0;
//      opacity: 0;
//      visibility: hidden;
//    }
//  }
//  .top-banner__wrapper{
//    .top-banner__info{
//      h2{
//        margin-bottom: 15px;
//      }
//      p{
//        margin-bottom: 20px;
//      }
//    }
//    .top-banner__sale{
//      position: relative;
//      top: 0;
//      left: 0;
//      margin-top: 30px;
//    }
//  }
//  .cookies-popup{
//    .popup-centered{
//      height: auto;
//    }
//  }
//}
//@media screen and (max-width: 480px) {
//  .catalog-sort {
//    .filter-item__list{
//      justify-content: space-between;
//    }
//  }
//  .catalog-sort__item{
//    flex-wrap: wrap;
//  }
//  .catalog-sort__item .select{
//    width: calc(100vw - 30px);
//    margin-top: 10px;
//  }
//}
//@media screen and (max-width: 450px) {
//  .product-row{
//    .product-button__cart{
//      flex-direction: column;
//      justify-content: flex-start;
//      align-items: flex-start;
//    }
//    .product-button__cart-add{
//      margin:0 auto 15px;
//    }
//    .product-button__cart-one{
//      margin:0 auto 15px;
//    }
//    .product-info__price{
//      margin: 0 auto 15px;
//      justify-content: center;
//      text-align: center;
//    }
//    .product-row .product-add, .product-row .product-compare{
//      margin: 0 10px;
//    }
//  }
//  .footer-wrap{
//    padding: 35px 0 0;
//  }
//  .footer-wrap__item{
//    width: 100% !important;
//    margin: 0 0 25px 0;
//  }
//  .footer-wrap{
//    .footer-social, .footer-payment, .footer-wrap__item{
//      width: 100%;
//    }
//  }
//  .footer-nav{
//    ul{
//      column-count: 1;
//    }
//  }
//  .footer-bottom{
//    .container{
//      flex-direction: column;
//    }
//    .footer-copy{
//      margin-bottom: 20px;
//    }
//  }
//}
//@media screen and (max-width: 425px) {
//  .header-user__popup.active{
//    width: 100%;
//  }
//  .seo-wrapper{
//    .title-section{
//      font-size: 22px;
//      line-height: 32px;
//      margin-bottom: 15px;
//    }
//    .seo-text-hide{
//      height: 285px;
//    }
//  }
//
//  .all-characteristics {
//    td:nth-child(1){
//      padding-left: 15px;
//    }
//    td{
//      display: block;
//    }
//  }
//  .popup-login{
//    .modal-group {
//      .label-checkbox{
//        font-size: 12px;
//      }
//    }
//  }
//}
//
//
//@media screen and (max-width: 320px) {}
//@media (min-width: 576px){
//  .container {
//    max-width: 1230px;
//    width: 100%;
//  }
//}
//
//
//
//
//
