.order-wrap{
  padding: 50px 0;
  &__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
    h1{
      text-transform: uppercase;
    }
  }
  .order-table__wrap{
    display: flex;
    margin-bottom: 60px;
    .order-table__head{
      background: transparent;
      th{
        font-weight: 400;
        font-size: 12px;
        color: $gray;
      }
    }
    .order-sum{
      padding-right: 30px;
      .item-del{
        left: calc(100% - 30px);
      }
    }
    .order-table__list{
      padding: 20px;
      width: calc(100% - 300px);
      box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.13);
      border-radius: 6px;
    }
    .order-table__inner{
      position: sticky;
      top: 180px;
    }
    .order-table__info{
      width: 300px;
      padding-left: 30px;
      .order-table__promo{
        box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.13);
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 6px;
      }
      .order-table__total{
        box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.13);
        padding: 20px;
        border-radius: 6px;
      }
    }
  }
}
.order-table__promo-form{
  position: relative;
  .input{
    padding-right: 50px;
  }
  .label{
    margin-bottom: 0;
  }
  .order-table__promo-btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    background: $primary;
    .icon{
      fill: $white;
    }
    &:hover{

    }
  }
}
.order-table__promo-title{
  margin-bottom: 10px;
}
.order-table__total{
  ul{
    border-bottom: 1px solid $light;
    &:last-of-type{
      border-bottom: 0;
    }
  }
  li{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    &:first-child{
      .order-table__sum{
        font-size: 22px;
        font-weight: 500;
      }
    }
  }
  span{
    font-size: 16px;
    line-height: 23px;
  }
  .order-table__text{
    color: $gray;
  }
  .order-table__sum{
    color: $default;
  }
}
.order-payment{
  display: flex;
  justify-content: center;
  padding: 20px 0 5px;
  border-bottom: 0;
  li{
    margin: 0 5px;
    width: 35px;
    height: 25px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid $light;
    img{
      width: 100%;
      height: 100%;
      max-width: 20px;
      object-fit: contain;
      margin: 0 auto;
    }
  }
}
.order-info__wrap{
  display: flex;
  flex: 1 1 0;
  .modal-group{
    display: flex;
    flex-direction: column;
  }
  .label-radio{
    margin-bottom: 10px;
  }
  .order-info__user{
    width: 100%;
    padding-right: 100px;
  }
  .order-info__payment{
    width: 100%;
    .modal-group{
      margin-top: 15px;
      a{
        color: $primary;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.order-btn, .order-action{
  display: flex;
  justify-content: space-between;
  .btn-green, .btn-green-line{
    width: auto;
    margin: 0;
  }
}
.order-btn{
  margin: 20px 0;
}
.popup-basket{
  .order-list{
    .order-table{
      .item-del{
        left: calc(100% - 25px);
      }
    }
  }
}